
/* ========== VARIABLES ========== */

:root {
    --main-color: #274167;
    --black-color: #161925;
    --mint-green-color: #CBF7ED;
    --powder-blue-color: #8EA8C3;
    --ucla-blue-color: #406E8E;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.container {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 60%;
    max-height: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0.1rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.327);
    border-radius: 0.6rem;
    position: relative;
    z-index: 0;
}


h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    color: var(--black-color);
    grid-column: 1/2;
    grid-row: 1/2;
}

h2 {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--main-color);
}

.window {
  display: none;
}

.active-window {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  left: -5%;
}

.arrow-right {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  right: -5%;
}

.arrow span {
  display: block;
  border: solid var(--black-color);
  border-width: 0 5px 5px 0;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 3s infinite;

}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}


.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--black-color);
}


.form-group .warning {
    color: rgba(215, 18, 18, 0.731);
    display: block;
    font-size: 0.6rem;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group select {
  height: 34px;
}

.form-group button {
  display: block;
  font-weight: 700;
  width: 100%;
  padding: 8px;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #ffff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
  }


/* =========== TABLE =========== */

.workout-table {
    font-size: 1rem;
    margin-top: 1.1rem;
    width: 100%;
    border-collapse: collapse;
}

.workout-table th,
.workout-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.workout-table th {
    background-color: #f2f2f2;
}

/* ========== STATS ========= */

#statsContent {
    display: none;
}

#chartContainer {
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

/* ========== ROUTINES ========== */
#workout-container {
    display: flex;
    flex-direction: column;
}

.workout {
    background-color: #f0f0f0;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
}

#popup-container > header,
.workout > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout header span {
    cursor: pointer;
}

.deleteButton {
    width: 2rem;
}

.logExercise > button {
    width: 3rem;
    background-color: var(--black-color);
}

header > h3 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--black-color);
    text-transform: uppercase;
    cursor: pointer;

}

header > h3:hover {
    color: #33333382;
}
  
.workout-header {
    font-weight: bold;
}
  
.workout-content {
    display: none;
    padding-left: 20px;
}
  
.exercise {
    margin-bottom: 5px;
}
  
.sets-reps {
    font-style: italic;
    color: #888;
}
  

#add-workout-button {
    background-color: #f0f0f0;
    border: none;
    box-shadow: none;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

    display: flex;
    text-align: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;
    color: var(--black-color);
}

#createWindow button svg {
    width: 2rem;
    height: 2rem;
    padding-right: 5px;
}

#createWindow button strong {
    width: 5rem;
    height: 5rem;
}

hr {
    border: 1px solid var(--main-color);
    ;
    border-bottom: none;
    opacity: 0.3;
    margin: 0.5rem -0.5rem 0.5rem -0.5rem;
}

form.exercise-container {
    padding-left: 0.5rem;
}

#popup-container {
    display: none;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
    padding: 1.2rem;
    background-color: #fff;
    border: 1px solid #ccc;
}

.show-popup {
    visibility: visible;
}

.pop-up-button {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: solid 1px #f0f0f0;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    color:var(--black-color);
    cursor: pointer;
}

.pop-up-button:hover {
    border: solid 1px var(--black-color);
}

h4 {
    font-size: 1.2rem;
    color: var(--black-color);
    margin: 0 0.2rem 0.4rem 0;
}

.close-btn {
    cursor: pointer;
  }


footer {
    margin: 3.6rem auto 2rem;
	color: #bfbfbf;
	font-size: 0.7rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.form-group-pop-up label{
    font-size: 0.7rem;
    display: block;
    font-weight: 400;
    color: var(--black-color);
}

.form-group-pop-up select {
    padding: 0.4rem;
    width: 40;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
  }

.form-group-pop-up input {
    font-weight: 500;
    font-size: .8rem;
    color: var(--black-color);
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0 0 .15rem rgba(6, 7, 7, 0.186);
    border: none;
    outline: none;
    padding: 0.4rem;
    transition: .4s;
    margin-bottom: 0.3rem;
    width: 70%;
}
  
.form-group-pop-up input:hover {
    box-shadow: 0 0 0 .15rem rgba(101, 193, 230, 0.632);
}
  
.form-group-pop-up input:focus {
    box-shadow: 0 0 0 .15rem rgb(101, 193, 230);
}


/* ======== NAV ========= */

nav {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.7rem;
}

li {
    list-style-type: none;
}

nav ul .nav-item .nav_link {
    text-decoration: none;
    color: var(--ucla-blue-color);
    display: flex;
    align-items: center;
}

nav ul .nav-item .nav_link img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}




/* ========= MOBILE VIEW ========== */

@media screen and (max-width:700px) {
    
    html {
        font-size: 14px;
    }

    .container {
        max-width: 80%;
    }

    .workout-table {
        font-size: 0.7rem;
    }


    .form-group-pop-up input {
        box-shadow: none;
        border: 1px solid rgba(101, 193, 230, 0.632);
    }

   

    
}