* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60%;
  max-height: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0.1rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.327);
  border-radius: 0.6rem;
  position: relative;
  z-index: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    color: #333;
}

h2 {
    font-size: 1.6rem;
    font-weight: 800;
    color: #4caf50;;
}

.window {
  display: none;
}

.active-window {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  left: -5%;
}

.arrow-right {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  right: -5%;
}

.arrow span {
  display: block;
  border: solid #333;;
  border-width: 0 5px 5px 0;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 3s infinite;

}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}


.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}


.form-group .warning {
    color: rgba(215, 18, 18, 0.731);
    display: block;
    font-size: 0.6rem;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group select {
  height: 34px;
}

.form-group button {
  display: block;
  font-weight: 700;
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #ffff;
    color: #4caf50;
    border: 1px solid #4caf50;
    border-radius: 4px;
    cursor: pointer;
  }

.workout-table {
    font-size: 1rem;
    margin-top: 1.1rem;
    width: 100%;
    border-collapse: collapse;
}

.workout-table th,
.workout-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.workout-table th {
    background-color: #f2f2f2;
}

#statsContent {
    display: none;
}

#chartContainer {
    margin-top: 20px;
    width: 100%;
    height: 300px;
}


#workout-container {
    display: flex;
    flex-direction: column;
}

.workout {
    background-color: #f0f0f0;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #333;
    text-transform: uppercase;
}
  
.workout-header {
    font-weight: bold;
}
  
.workout-content {
    display: none;
    padding-left: 20px;
}
  
.exercise {
    margin-bottom: 5px;
}
  
.sets-reps {
    font-style: italic;
    color: #888;
}
  

#add-workout-button {
    background-color: #f0f0f0;
    border: none;
    box-shadow: none;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

    display: flex;
    text-align: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;
    color: #333;
}

#createWindow button svg {
    width: 2rem;
    height: 2rem;
    padding-right: 5px;
}

#createWindow button strong {
    width: 5rem;
    height: 5rem;
}

hr {
    border: 1px solid #888;
    border-bottom: none;
    opacity: 0.2;
}

#popup-container {
    display: none;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
    padding: 1.2rem;
    background-color: #fff;
    border: 1px solid #ccc;
}

.show-popup {
    visibility: visible;
}

.pop-up-button {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: solid 1px #f0f0f0;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    color:#333;
    cursor: pointer;
}

.pop-up-button:hover {
    border: solid 1px #333;
}


#popup-container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.4rem;
}

.close-btn {
    cursor: pointer;
  }


footer {
    margin: 3.6rem auto 2rem;
	color: #bfbfbf;
	font-size: 0.7rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.form-group-pop-up label{
    font-size: 0.7rem;
    display: block;
    font-weight: 400;
    color: #333;
}

.form-group-pop-up select {
    padding: 0.4rem;
    width: 40;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40%;
  }

.form-group-pop-up input {
    font-weight: 500;
    font-size: .8rem;
    color: #333;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0 0 .15rem rgba(6, 7, 7, 0.186);
    border: none;
    outline: none;
    padding: 0.4rem;
    transition: .4s;
    margin-bottom: 0.3rem;
    width: 40%;
}
  
.form-group-pop-up input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}
  
.form-group-pop-up input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
}


@media (max-width:500px) {
    
    html {
        font-size: 14px;
    }

    .container {
        max-width: 80%;
    }

    .workout-table {
        font-size: 0.6rem;
    }

    
}